.todo{
    max-width: 600px;
    min-height: 532px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    padding-bottom: 10px;
}
.todo-header{
    margin-top: 2rem;
    color: #002765;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
    font-family: sans-serif;
    text-align: center;
}
.todo-add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.todo-input{
    border-radius: 50px;
    background: #edeef0;
    border: none;
    outline: none;
    width: 476px;
    height: 80px;
    padding-left: 35px;
    font-size: 20px;
}
.todo-add-btn{
    border-radius: 50px;
    background: #ff6739 ;
    width: 187px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}