.todoitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
.todoitems-container{
    display: flex;
    gap: 5px;
    padding-left: 10px;
}
.todoItems-text{
    padding-left: 10px;
    margin-top: 5px;
    color: #404040;
    font-size:26px;
    font-family: sans-serif;
}
.cross-icon{
    cursor: pointer;
     padding-right: 25px;
}
.line-through{
    text-decoration: line-through solid #adadad 3px;
}